<%- include('./partials/header')%> <%- include('./partials/navigation')%>
<form action="/change-password/<%= id%>" method="post">
    <input type="password" placeholder="New Password" name="password" />
    <button>Change Password</button>
    <p>Back to <a href="/">Sign in</a></p>
</form>

<%- include('./partials/footer')%>
