<%- include('./partials/header')%> <%- include('./partials/navigation')%>

<form action="/reset-password" method="post">
    <input type="password" placeholder="Old Password" name="oldpassword" />
    <input type="password" placeholder="New Password" name="newpassword" />
    <button>Change Password</button>
</form>

<%- include('./partials/footer')%>
